@import 'tailwindcss';

@layer base{
  *{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    color: white;
  }

  body{
    @apply scroll-smooth;
  }

  h1{
    @apply text-3xl max-sm:text-2xl;
  }

  h2{
    @apply text-2xl max-sm:text-xl;
  }

  h3{
    @apply text-xl max-sm:text-lg;
  }
  p{
    @apply text-[1rem]
  }
}